#AppLogoLabel {
    -fx-font-size: 32px;
    -fx-padding: 10px;

}

#headsOrTailsLabel {
    -fx-font-size: 20px;
    -fx-padding: 20px;
}

#orLabel, #coinList, .button {
    -fx-font-size: 20px;
}

.label {
    -fx-font-size: 25px;
}

#localStatsLabel, #globalStatsLabel {
    -fx-font-size: 28px;
    -fx-underline: true;
}
#backToMain {
    -fx-font-size: 24px;
    -fx-pref-height: 50px;
    -fx-pref-width: 150px;
}
#subjectTextArea {
    -fx-pref-height: 35px;
    -fx-pref-width: 450px;
    -fx-font-size: 20px;
}

#bodyTextArea {
    -fx-pref-width: 450px;
    -fx-pref-height: 200px;
    -fx-font-size: 20px;
}